<svg preserveAspectRatio="none" viewBox="0 0 863 610" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="UI-KIt" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="banner" transform="translate(-1.000000, -1386.000000)">
      <g id="chevron" transform="translate(1.000000, 1386.000000)">
        <path d="M710.164443,287.453806 L708.894623,285.264012 L566.950849,38.2331146 L564.466419,33.9089651 C551.699258,12.5350138 528.554009,-0.384834781 503.735904,0.00874206473 L0,0.0177360411 L0.378555001,610 L526.12338,609.991006 C550.942917,610.390316 574.090828,597.468982 586.853895,576.090783 L589.338325,571.766633 L708.867019,363.874832 L711.075401,360.021904 C717.132215,349.149681 720.208928,336.858896 719.991745,324.403109 C720.043758,311.439517 716.682037,298.692489 710.247258,287.453806 L710.164443,287.453806 Z" id="Shape" fill="var(--wsTertiaryColor, $fff)"></path>
      </g>
    </g>
  </g>
</svg>
