{# Validate the form id, then render using the proper template. #}
{% if donate_form_id|trim|length == 4 %}
<iframe
  src="https://secure2.convio.net/ymca/site/Donation2?df_id={{ donate_form_id }}&{{ donate_form_id }}.donation=form1&mfc_pref=T&amount={{ amount }}"
  width="100%";
  height="1700">
</iframe>
{% endif %}
